*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
}

.joc , .ms , .w
{
    padding:35px ;
    height: 50vh;
}

.ms, .w
{
    width: 50vw;
}
.paragraph{
    color: rgba(255, 255, 255, 0.801);
}

.heading{
    font-size: 18px;
    color:white ;
    font-weight: 500;
    margin-bottom: 10px;
}

.title{
    font-weight: 500;
    font-size: 22px;
    color: rgb(43, 148, 137);
    margin-bottom: 20px;
}

.joc{
    background-color:white;
}

.joc .heading{
    color: rgb(191, 224, 51);
    margin-top: 10px;
}

.joc .paragraph
{
    color: gray;
    opacity: 50;
}
.ms{
    background-color: rgb(43,178,177);
    float: left;
}

.ms span {
    font-size: 26px;
    font-weight: 500;
    vertical-align: middle;
    margin-right: 10px;
    color: white;
}
.pricing
{
    color: rgba(255, 255, 255, 0.795);
}

button
{
    color: white;
    background-color: rgb(191, 224, 51);
    border: none;
    padding: 10px 70px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: -3px 0px 38px 2px rgba(163,163,163,1);

}

.w{
    background-color: rgb(75,188,189);
    float: right;
}